@{
    ViewBag.Title = "About";
}

<h3>Alles was Sie Wissen müssen...</h3>

<p>
    Im Jahr 1863 machte Étienne Lenoir mit dem Hippomobile eine 18 km lange Fahrt; es war das erste Fahrzeug mit einem Motor mit interner Verbrennung.
    Jedoch gilt das Jahr 1886 mit dem Benz Patent-Motorwagen Nummer 1 vom deutschen Erfinder Carl Benz als das Geburtsjahr des modernen Automobils mit Verbrennungsmotor, da es große mediale Aufmerksamkeit erregte und zu einer
    Serienproduktion führte. Zuvor bauten auch andere Erfinder motorisierte Gefährte mit ähnlichen oder gänzlich anderen Motorkonzepten.
    Motorisierte Wagen lösten in nahezu allen Bereichen die von Zugtieren gezogenen Fuhrwerke ab, da sie deutlich schneller und weiter fahren und eine höhere Leistung erbringen können. Durch diesen Vorteil steigerte sich seit der Erfindung des Automobils die Weite der zurückgelegten Strecken, u. a. deshalb wurde dem motorisierten Straßenverkehr immer mehr Raum zugestanden.
</p>
