@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Simmeringer Hauptstraße 93<br />
    1110 Wien<br />
    <abbr title="Phone">P:</abbr>
    0650 9801577
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bamherst@gmx.at">Giaccommander@mail</a><br />
    
</address>