@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WROOOM...</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy Car</h2>
        <p>
            Hier her wenn du ein Auto kaufen möchtest...
        </p>
        <p><a class="btn btn-default"  href="http://localhost:51417/Home/Contact">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h2>Probefahrt</h2>
        <p>Machen Sie sich heute noch einen Termin zur Probefahrt aus...</p>
        <p><a class="btn btn-default" href="http://localhost:51417/Home/Contact">Termin</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gewinnspiel</h2>
        <p>Melden Sie sich zum Newsletter und gewinnen Sie...</p>
        <p><a class="btn btn-default" href="http://localhost:51417/Home/Contact">WinWin</a></p>
    </div>
</div>